@require './variables'

transition-all()
  transition all $transition-time ease

first-breakpoint-response()
  @media screen and (max-width: $first-breakpoint)
    {block}

first-breakpoint-post-response()
  @media screen and (min-width: $first-breakpoint)
    {block}
